.nav-style {
  text-align: right;
}

.nav-style ul {
  margin: 0;
  padding: 0 20px;
  background: #333;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  position: relative;
  z-index: 999;
  border-bottom: 1px solid rgb(255, 98, 0);
}

.nav-style li {
  list-style: none;
  display: inline-block;
  position: relative;
}

.nav-style li::after {
  content: '';
  width: 1px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 18px;
  background: rgb(255, 98, 0);
}

.nav-style a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  color: rgb(255, 98, 0);
  font-size: 21px;
}

.nav-style a:hover {
  color: rgb(255, 140, 20);
}

.marker {
  transform: translate(-50%, -100%);
}

.error {
  color: #f05305;
}

.marker.red path {
  fill: #f05305;
}

.marker.yellow path {
  fill: #f3b73e;
}

.popup {
  width: 40vw;
  padding: 1rem;
}

.popup img {
  height: 200px;
  width: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
  font-size: 1rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.hero-section {
  background: url("../src/images/memories.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}

.main-paragraph {
  color: white;
}

/*.inner-paragraph {
  color: white;
}*/

.site-btn {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  color: #131313;
  padding: 16px 30px;
  min-width: 153px;
  border-radius: 50px;
  font-weight: 500;
  border: none;
  background: #ffb320;
  cursor: pointer;
  margin-top: 50px;
}

.index-text {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: relative;
  top: 410px;
  left: 100px;
}

.index-text h2 {
  color: rgb(255, 98, 0);
  font-weight: bold;
  font-size: 50px;
}

.index-text p {
  color: rgb(250, 248, 248);
}

.home-paragraph {
  font-size: 20px;
  color: #878787;
  line-height: 2;
  margin-bottom: 20px;
}

.inner-label {
  color: rgb(7, 7, 7);
  font-weight: bold;
}

#form,
.signup-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../src/images/signup.jpg");
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

#form-inner,
.signup-inner {
  width: 400px;
}

#form {
  background-image: url("../src/images/login.jpg");
}